<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MobileStoreService.MobileService">
        <endpoint address="" binding="basicHttpBinding" contract="MobileStoreService.IMobileService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/MobileStoreService/MobileService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="MobileStoreContext" connectionString="metadata=res://*/MobileStore.csdl|res://*/MobileStore.ssdl|res://*/MobileStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANHKHA\SQLEXPRESS;initial catalog=MobileDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MobileDBContext" connectionString="workstation id=SaiGonMobileDB.mssql.somee.com;packet size=4096;user id=anhkha2907_SQLLogin_1;pwd=ajw7126toc;data source=SaiGonMobileDB.mssql.somee.com;persist security info=False;initial catalog=SaiGonMobileDB" providerName="System.Data.EntityClient" />-->
  
  <!--<add name="MobileDBContext" connectionString="metadata=res://*/MobileStore.csdl|res://*/MobileStore.ssdl|res://*/MobileStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANHKHA\SQLEXPRESS;initial catalog=MobileDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MobileDBContext" connectionString="metadata=res://*/MobileStore.csdl|res://*/MobileStore.ssdl|res://*/MobileStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANHKHA\SQLEXPRESS;initial catalog=MobileDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="MobileDBEntities" connectionString="metadata=res://*/MobileStore.csdl|res://*/MobileStore.ssdl|res://*/MobileStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANHKHA\SQLEXPRESS;initial catalog=MobileDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>