<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMobileService"
                         maxReceivedMessageSize="20000000"
                         maxBufferSize="20000000"
                         maxBufferPoolSize="20000000"
                         />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:39314/MobileService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMobileService" contract="MobileService.IMobileService"
                name="BasicHttpBinding_IMobileService" />
        </client>
    </system.serviceModel>
</configuration>